@use "sass:map";

$mat-primary: (
    50 : #ebf6f6,
    100 : #cdeae9,
    200 : #acdcdb,
    300 : #8acdcd,
    400 : #71c3c2,
    500 : #58b8b7,
    600 : #50b1b0,
    700 : #47a8a7,
    800 : #3da09f,
    900 : #2d9190,
    A100 : #d6ffff,
    A200 : #a3fffe,
    A400 : #70fffe,
    A700 : #57fffd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-accent: (
    50 : #fdf0eb,
    100 : #fbd9cd,
    200 : #f8c0ac,
    300 : #f5a68b,
    400 : #f29372,
    500 : #f08059,
    600 : #ee7851,
    700 : #ec6d48,
    800 : #e9633e,
    900 : #e5502e,
    A100 : #ffffff,
    A200 : #fff5f3,
    A400 : #ffcbc0,
    A700 : #ffb6a7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$body-background: #f9f9f8;
$link-color: map.get($mat-primary, 500);
$gray-light: #e4e4e4;
$gray-dark: #0000008a;
